/** @format */
/** @format */
body {
  overflow-x: hidden;
}

.indiv {
  margin-top: 40px;
  margin-bottom: 10px;
}

.indiv span {
  color: #5e36de;
  font-size: 15px;
}

.indiv .intrebare1 {
  background-color: #d5ddfd;
  padding: 20px;
  margin-bottom: 20px;
  margin-left: 15%;
  width: 70%;
  border-radius: 10px;
  color: #e27cae;
  margin-top: -20px;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

@media only screen and (max-width: 600px) {
  .indiv .intrebare1 {
    margin-top: -30px;
    margin-left: 0%;
    width: 100%;
    padding: 10px;
  }
}

.indiv .butonnext {
  margin-left: 20px;
  border-radius: 20px;
  padding: 10px;
  background-color: #d5ddfd;
  color: #5e36de;
  border: none;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.indiv .intrebarespan {
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.indiv button:hover {
  color: black;
}

.indiv .active {
  opacity: 0;
  pointer-events: none;
}

.indiv .timeleft {
  margin-left: 20px;
  color: black;
}

.container {
  max-width: 20000px;
}

.container .timeleft span {
  color: #dc3d82;
}

.container .MuiInputBase-root {
  color: #d5ddfd;
}

.container .MuiInputBase-root::before {
  left: 0;
  right: 0;
  bottom: 0;
  content: '\00a0';
  position: absolute;
  -webkit-transition: border-bottom-color 200ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
  transition: border-bottom-color 200ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
  border-bottom: 1px solid #d5ddfd;
  pointer-events: none;
}

.container .MuiInputBase-root:after {
  left: 0;
  right: 0;
  bottom: 0;
  content: '';
  position: absolute;
  -webkit-transform: scaleX(0);
          transform: scaleX(0);
  -webkit-transition: -webkit-transform 200ms cubic-bezier(0, 0, 0.2, 1) 0ms;
  transition: -webkit-transform 200ms cubic-bezier(0, 0, 0.2, 1) 0ms;
  transition: transform 200ms cubic-bezier(0, 0, 0.2, 1) 0ms;
  transition: transform 200ms cubic-bezier(0, 0, 0.2, 1) 0ms, -webkit-transform 200ms cubic-bezier(0, 0, 0.2, 1) 0ms;
  border-bottom: 2px solid #d5ddfd;
  pointer-events: none;
}

.container .senddiv {
  -webkit-transform: translateY(15px);
          transform: translateY(15px);
}

.container .senddiv .sendsus {
  color: #d5ddfd;
}

.videouri .flex-container {
  overflow: hidden;
  height: 100%;
}

@media only screen and (min-width: 600px) {
  .videouri .flex-container {
    max-height: 30vw;
  }
}

.videouri .flex-container video {
  min-width: 40%;
  width: 40%;
  min-height: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

@media only screen and (max-width: 600px) {
  .videouri .flex-container video {
    min-width: 85%;
    width: 85%;
  }
}

.Login-component {
  z-index: 20000;
  top: 0;
  left: 0;
  height: 120vh;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.6)), to(rgba(0, 0, 0, 0.6))), url(./fundaldate.jpg) no-repeat center center fixed;
  background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url(./fundaldate.jpg) no-repeat center center fixed;
  overflow: visible;
}

@media only screen and (max-width: 1100px) {
  .Login-component {
    height: 100vh;
  }
}

@media only screen and (max-width: 600px) {
  .Login-component {
    height: 150vh;
  }
}

@media only screen and (max-width: 500px) {
  .Login-component {
    height: 140vh;
  }
}

@media only screen and (max-width: 400px) {
  .Login-component {
    height: 130vh;
  }
}

@media only screen and (max-width: 380px) {
  .Login-component {
    height: 125vh;
  }
}

.btn-primary {
  background-attachment: #5e36de;
}

.modal-content {
  background-color: #d5ddfd;
}

.modal-body {
  border-bottom: 1px solid #5e36de;
  text-align: center;
}

.modal-header {
  border-bottom: 1px solid #5e36de;
}

.modal-header .modal-title {
  margin-left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  white-space: nowrap;
}

.imagini {
  margin-top: 20px;
}

.imagini img {
  cursor: pointer;
}

@media only screen and (min-width: 600px) {
  .imagini img {
    width: 50%;
    -webkit-transform: translateX(50%);
            transform: translateX(50%);
  }
}

.animate {
  -webkit-animation: animatieinima 0.5s;
          animation: animatieinima 0.5s;
}

@-webkit-keyframes animatieinima {
  0% {
    opacity: 0;
    -webkit-transform: scale(0.7);
            transform: scale(0.7);
  }
  66% {
    -webkit-transform: scale(1.5);
            transform: scale(1.5);
    opacity: 0.66;
  }
  100% {
    opacity: 1;
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@keyframes animatieinima {
  0% {
    opacity: 0;
    -webkit-transform: scale(0.7);
            transform: scale(0.7);
  }
  66% {
    -webkit-transform: scale(1.5);
            transform: scale(1.5);
    opacity: 0.66;
  }
  100% {
    opacity: 1;
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

.fundalstanga {
  position: absolute;
  background-color: #b4c1ef;
  top: 0;
  left: 0;
  width: 5%;
  height: 100vh;
  z-index: 0;
}

@media only screen and (min-width: 600px) {
  .fundalstanga {
    height: 150vh;
  }
}

@media only screen and (max-width: 1000px) {
  .fundalstanga {
    height: 130vh;
  }
}

@media only screen and (max-width: 500px) {
  .fundalstanga {
    height: 110vh;
  }
}

.fundaldreapta {
  position: absolute;
  background-color: #b4c1ef;
  top: 0;
  right: 0;
  width: 5%;
  height: 100vh;
  z-index: 0;
}

@media only screen and (min-width: 600px) {
  .fundaldreapta {
    height: 150vh;
  }
}

@media only screen and (max-width: 1000px) {
  .fundaldreapta {
    height: 130vh;
  }
}

@media only screen and (max-width: 500px) {
  .fundaldreapta {
    height: 110vh;
  }
}

.footercontent {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 50%;
  -webkit-transform: translateX(50%) translateY(100px);
          transform: translateX(50%) translateY(100px);
  white-space: nowrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media only screen and (max-width: 500px) {
  .footercontent {
    width: 90%;
    -webkit-transform: translateY(80px);
            transform: translateY(80px);
    margin-left: 5%;
  }
}

.footercontent img {
  width: 75%;
  float: left;
}

.footercontent .inimafooter {
  width: 25%;
}

.site-header-inner {
  z-index: 1;
}

/** @format */
.col {
  float: left;
}

._col {
  float: right;
}

.col-1 {
  width: 8.33%;
}

.col-2 {
  width: 16.66%;
}

.col-3 {
  width: 25%;
}

.col-4 {
  width: 33.33%;
}

.col-5 {
  width: 41.66%;
}

.col-6 {
  width: 50%;
}

.col-7 {
  width: 58.33%;
}

.col-8 {
  width: 66.66%;
}

.col-9 {
  width: 75%;
}

.col-10 {
  width: 83.33%;
}

.col-11 {
  width: 91.66%;
}

.col-12 {
  width: 100%;
}

.group,
.row {
  zoom: 1;
}

.group:before,
.row:before,
.group:after,
.row:after {
  content: '';
  display: table;
}

.group:after,
.row:after {
  clear: both;
}
/*# sourceMappingURL=css.css.map */